<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FREE AI</title>
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/script.js"></script>
</head>

<body>
    <div class="wrapper">
        <!-- BARRA LATERAL -->
        <div id="sidebar">

            <!-- NOMBRE DE LA WEB -->
            <div class="sidebar-logo">
                <span>THE FREE [AI].</span>
            </div>
            

            <!-- LISTA DE APLICACIONES -->
            <ul class="sidebar-nav">
                <li class="sidebar-item">
                    <a href="#generar-imagenes" class="sidebar-link">
                        <i class="lni lni-user"></i>
                        <span>GENERAR IMAGENES</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#analisis-comentarios" class="sidebar-link">
                        <i class="lni lni-agenda"></i>
                        <span>ANALISIS DE COMENTARIOS</span>
                    </a>
                </li>
            </ul>            
        </div>
        <!-- PANTALLA PRINCIPAL -->
        <div class="back-main">
            <!-- PANTALLA PRINCIPAL -->
            <div class="back-main">
                <div id="generar-imagenes" class="main">
                    <!-- Contenido para generar imágenes -->
                    
                </div>
                <div id="analisis-comentarios" class="main" style="display:none;">
                    <!-- Contenido para análisis de comentarios -->
                    DIV 2 PRUEBAS
                </div>
            </div>
        </div>
    </div>
</body>
</html>