<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>THE FREE AI ©</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/script.js"></script>
</head>

<body>
    <div class="wrapper">
        <!-- BARRA LATERAL -->
        <div id="sidebar">

            <!-- NOMBRE DE LA WEB -->
            <div class="sidebar-logo">
                <span>THE FREE AI ©</span>
            </div>
            

            <!-- LISTA DE APLICACIONES -->
            <ul class="sidebar-nav">
                <li class="sidebar-item">
                    <a href="#generar-imagenes" class="sidebar-link">
                        <i class="ti ti-photo-scan"></i>
                        <span>GENERAR IMAGENES CON TEXTO</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#analisis-comentarios" class="sidebar-link">
                        <i class="ti ti-scan"></i>
                        <span>ANALISIS DE COMENTARIOS</span>
                    </a>
                </li>
            </ul>            
        </div>
        <!-- PANTALLA PRINCIPAL -->
        <div class="back-main">
            <!-- PANTALLA PRINCIPAL -->
            <div class="back-main">
                <div id="generar-imagenes" class="main">
                    <div class="chat-display">
                        {% if image_path %}
                            <div class="chat-message">
                                <p>{{ prompt }}</p> <!-- Muestra el mensaje del prompt -->
                                <img src="{{ url_for('static', filename=image_path) }}" alt="Imagen Generada">
                            </div>
                        {% endif %}
                    </div>
                    <div class="form-container">
                        <form class="form_send_prompt" action="/generar-imagenes" method="post">
                            <input type="text" name="prompt" placeholder="Introduce un prompt..." required>
                            <input type="number" name="seed" placeholder="Semilla (opcional)">
                            <button type="submit">Enviar</button>
                        </form>
                    </div>
                </div>
                
                <div id="analisis-comentarios" class="main" style="display:none;">
                    <!-- Contenido para análisis de comentarios -->
                    ANALISIS DE COMENTARIOS
                </div>
            </div>
        </div>
    </div>
</body>
</html>